
name: Bump Version

on:
  push:
    paths-ignore:
      - 'setup.py'
    branches:
      - main
      - create-bump

jobs:
  bump_version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get current version
        run: |
          old_v=$(grep -oP "version='(\d+\.\d+)'" setup.py | cut -d"'" -f2)
          echo "Current version: $old_v"
          echo "old_v=$old_v" >> $GITHUB_ENV

      - name: Bump version number
        run: |
          feature=$(git log -1 --oneline | grep "feature/" | xargs)
          fix=$(git log -1 --oneline | grep "fix/" | xargs)

          echo "feature: $feature"
          echo "fix: $fix"

          if [[ -n "$fix" ]]; then
            new_v=$(python -c "print('$old_v'.split('.')[0] + '.' + str(int('$old_v'.split('.')[1]) + 1))")
          elif [[ -n "$feature" ]]; then
            new_v=$(python -c "print(str(int('$old_v'.split('.')[0]) + 1) + '.' +'$old_v'.split('.')[1])")
          else
            echo "Commit is not feature or fix"
            new_v=$old_v
          fi

          echo "New version: $new_v"
          echo "new_v=$new_v" >> $GITHUB_ENV
        
      - name: Update setup.py
        run: |
          sed -i "s/version='$old_v'/version='$new_v'/" setup.py

      - name: Commit and push
        env: 
          CI_COMMIT_USER: ${{ github.actor }}
        if: ${{ env.new_v != env.old_v }}
        run: |
          git config --global user.name "${{ env.CI_COMMIT_USER }}"
          git config --global user.email "${{ env.CI_COMMIT_USER }}@users.noreply.github.com"
          git commit -a -m "Bump version from $old_v to $new_v"
          git push
             
        
  